@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
  margin: auto;
  font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 100px;
  background-color: #f1f2f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
	--timer-background-color: #FFFFFF;
--timer-border: 1px solid #000000;
	--timer-height: 70%;
	--timer-width: 60%;
  --button-border: 3px solid #000000;
  --button-text-size: 2em;
}



/* body, div, p {
	margin: 0;
	padding: 0;
  padding-top: 30px;
  
} */

@media screen and (max-width: 1024px) {
	:root {
		--timer-height: 100%;
		--timer-width: 100%;
    --button-text-size: 4em;
}
}
